html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    max-width: 65vw;
    margin: 50px auto;
    padding: 20px;
    /*background: black;*/
    background-image: url("../img/background.jpg")!important;
    background-attachment: fixed;
    -webkit-background-size: cover;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.card-sub {
    background: rgba(137, 196, 238, 0.3);
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /*margin-bottom: 50px;*/
    /*border: 3px solid rgb(192, 192, 192);*/
}
.card-nav {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.42);
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /*margin-bottom: 50px;*/
    /*border: 3px solid rgb(192, 192, 192);*/
}
h1 {
    color: #000000;
}
h2{
    color: #333;
}
.enunciado h2{
    color: #000000;
}
.success {
    color: #28a745;
    font-weight: bold;
}
.error {
    color: #dc3545;
    font-weight: bold;
}
code {
    background: #f4f4f4;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: monospace;
}
.info {
    background: #e3f2fd;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}